{
  admin 0.0.0.0:2020
}

jeremytools.com {
  reverse_proxy main-web-app:3000
}

pdf.jeremytools.com {
  reverse_proxy stirling-pdf:8081
}

it.jeremytools.com {
  reverse_proxy it-tools:8082
}

rio2pdf.jeremytools.com { 
  reverse_proxy resumeio-to-pdf:8083
}

# static.jeremytools.com {
#   root * /var/www/assets
#   file_server
# }